/* Main */

a {
    color: inherit;
}

#blue-background {
    border: 1px solid #cdf0ff;
    background-color: #e6ffff;
}

.category-main {
    font-size: 16px;
    color: #ff0500;
    text-transform: uppercase;
    text-align: center;
}

.category-main.blue {
    color: #00b7ff;
}

.content-background {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.info-wrapper {
    position: relative;
    border-top: 4px solid #ff0500;
    padding: 15px 30px 25px;
}

.img-responsive {
    width: 100%;
}

.main-content {
    position: relative;
}

.main-horizontal-divider {
    border-top: 1px solid #f2f2f2;
}

.story {
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.sub-box {
    margin-top: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.summary {
    text-align: center;
}

.vertical-divider {
    border-right: 1px solid #f2f2f2;
}

@media only screen and (min-width: 768px) {
    #blue-background {
        height: 535px;
    }

    .info-wrapper {
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.5) 0,
            #fff 50%,
            #fff 100%
        );
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .sub-box {
        height: 550px;
    }

    .vertical-divider {
        height: 600px;
    }
}

@media only screen and (min-width: 992px) {
    #blue-background {
        height: 555px;
    }

    .category-main {
        font-size: 22px;
    }

    .sub-box {
        height: 670px;
    }

    .vertical-divider {
        height: 600px;
    }
}

@media only screen and (min-width: 1200px) {
    #blue-background {
        height: 675px;
    }

    .sub-box {
        height: 690px;
    }

    .vertical-divider {
        height: 800px;
    }
}

@media only screen and (max-width: 767px) {
    #blue-background {
        height: 615px;
    }

    .sub-box {
        height: 630px;
    }
}
